.react-tabs {
  display: flex;
  flex-direction: column;
}
.react-tabs__tab-list {
  text-align: left;
  margin: 0;
  border: none;
}

.react-tabs__tab {
  width: 50%;
  font-size: 24px;
  border: none;
}

.react-tabs__tab-panel {
  margin: 0;
  border: none;
}
.react-tabs__tab--selected {
  border: none;
}

.react-tabs__tab-click {
  /* display: none; */
  background-color: #ccccff;
  color: white;
  border-radius: 10px;
}
.react-tabs__tab-night:focus {
  display: none;
}

.react-tabs__tab-click-night {
  background-color: black;
  color: white;
}
