/* 챗봇 모달 변경한거 */
.chatModal .modal-content {
  /* display: none; */
  width: 330px !important;
  height: 410px !important;
}

.react-chatbot-kit-chat-header {
  display: none;
}

.react-chatbot-kit-chat-container {
  /* position: fixed; */
  right: 30px;
  bottom: 25px;
  width: 370px;
  height: 100%;
  min-height: 520px;
  max-height: 560px;
  /* overflow: hidden; */
  overflow: scroll;
  border-radius: 25px;
  box-shadow: rgb(0 0 0 / 30%) 0px 12px 60px 5px;
}

.react-chatbot-kit-chat-inner-container {
  height: 100%;
  background-color: #f8f9fa;
}

.react-chatbot-kit-chat-input-container {
  padding: 0;
}
.react-chatbot-kit-chat-bot-message {
  float: right;
}
.react-chatbot-kit-chat-message-container {
  height: 454px;
  padding: 0.5rem 1.1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* float: right; */
}

.react-chatbot-kit-chat-message-container::-webkit-scrollbar {
  display: none;
}

.react-chatbot-kit-chat-input {
  border: none;
  border-radius: 20px;
  padding: 1.3rem 1.2rem;
  margin-right: 0.5rem;
  font-weight: 300;
}

.react-chatbot-kit-chat-input:focus-visible {
  outline: none;
}

.react-chatbot-kit-chat-input-form {
  background-color: #ffffff;
  border: none;
}

.react-chatbot-kit-chat-input::placeholder {
  color: #d4d4d4;
  font-weight: 300;
}

.react-chatbot-kit-chat-btn-send {
  width: fit-content;
  height: fit-content;
  border-radius: 0 0 20px 0;
  padding: 1.4rem;
  float: right;
  /* background-color: transparent; */
}

.react-chatbot-kit-chat-bot-message-container {
  /* align-items: flex-end; */
  margin: 0.2rem 0;
}
