@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Nanum+Pen+Script&display=swap");
* {
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-family: "KNPSBandali";
}

.rdrDateDisplayWrapper {
  display: contents !important;
}

.rdrDefinedRangesWrapper {
  display: none !important;
}

/* 색 추후 */
.rdrStartEdge,
.rdrEndEdge,
.rdrInRange {
  background-color: #cdcbf3 !important;
  /* background-color: linear-gradient(
    180deg,
    #69eacb 0%,
    #eaccf8 48%,
    #6654f1 100%
  ) !important; */
}
/* .rdrEndEdge {
  background-color: #7c74ab !important;
} */
.rdrInRange {
  /* background-color: #d6d5fb !important; */
  /* background-color: linear-gradient(
    180deg,
    #69eacb 0%,
    #eaccf8 48%,
    #6654f1 100%
  ) !important; */
}

.rdrDayNumber,
.rdrWeekDay,
.rdrMonthName,
.rdrMonthAndYearPickers,
.rdrDateInput {
  font-weight: 600 !important;
  font-size: 14px;
}
