a {
  text-decoration: none !important;
}

.wrapper {
  display: flex;
}

.icon {
  margin: 5px;
  background-color: #e8f0ff;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.2);
}

.icon i {
  font-size: 25px;
  color: #957dad;
  transition: all 0.2s;
}

.icon:hover {
  background-color: #f7f2e7;
}

.icon:hover i {
  transform: rotate(15deg) scale(1.5);
  color: #b3a580;
}

/* btn시작 */

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009ffd;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}

#text {
  margin-top: -35px;
  text-align: center;
}

#text a {
  color: rgb(99, 92, 92);
  font-weight: 100;
  font-size: 1.1em;
}

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06d6a0;
}
